.plus{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none
}
.chip {
    display: inline-block;
    margin-right: 2px;
    color: #535353;
    background-color: #efefef;
    padding: 2px 9px;
    border-radius: 21px;
    font-weight: 400;
  }
 .chip_section{
    position: absolute;
    top: -17px;
    max-height: 28px;
    overflow-y: scroll;
 }
 .icon-button{
  background: transparent;
  border: 1px solid #8080802e;
  cursor: pointer;
  line-height: 1;
  margin: 0;
  padding: 6px;
  border-radius: 5px;
  }

  ul.project-avatar{
    display: inline-block;
    width: 100%;
  }
  ul.project-avatar li {
    display: inline-block;
    margin: 5px;
    float: left;
    padding: 3px;
    border: 2px solid transparent;
  }
 