<div class="container-fluid">
  <a class="navbar-brand" routerLink='/dashboard'>
    <h3 style="font-weight: bolder;">Raoinfotech Dashboard</h3>
  </a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">info</i>
          </div>
          <h3 class="card-title">Projects</h3>
          <p class="card-category">New requests: 0</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a style="cursor: pointer" routerLink="/project-list">View Details</a>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">contacts</i>
          </div>
          <h3 class="card-title">Contact Requests</h3>
          <p class="card-category">New requests: 0</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a style="cursor: pointer" routerLink="/contact-request">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-4">
      <div class="card card-stats card-chart">
        <div class=" card-header-warning">
          <canvas #canvas1 id="canvas1" width="600" height="500">{{ chart1 }}</canvas>
        </div>
        <div class="card-body">
          <h4 class="card-category card-title">All Request Types is to from to Months(2019)</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-chart">
        <div class=" card-header-danger">
          <canvas #canvas2 id="canvas2" width="600" height="500">{{ chart2 }}</canvas>
        </div>
        <div class="card-body">
          <h4 class="card-category card-title">Total Request is to from to Months(2019)</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header-info">
          <canvas #canvas3 id="canvas3" width="600" height="500">{{ chart3 }}</canvas>
        </div>
        <div class="card-body">
          <h4 class="card-category card-title">Total Requests for Particular Location(2019)</h4>
        </div>
      </div>
    </div>
  </div> -->
</div>